*{
  margin: 0px;
  padding: 0px;
}
body{
  background:url('bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
@media (max-width: 768px) {
  body {
    min-height: 100vh;
    background-position: center;
    background-image: url("bm.jpg");
  }
}
nav{
  background: rgba(0,0,0,0.70);
  box-shadow: 3px 3px 15px #fff;
  border-radius: 2vh;
}
nav ul{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
nav li{
  height: 50px;
}
nav a{
  display: flex;
  align-items: center;
  padding: 0px 30px;
  height: 100%;
  text-decoration: none;
}
h1{
  color:hotpink;
  text-align: center;
}
nav li:first-child{
  margin-right: auto;
}
.bi bi-archive{
  color:#fff;
}